# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://github.blog/2017-07-06-introducing-code-owners/

# Assign code owners that will automatically get asked to review Pull Requests
# The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @enolfc @glarocca @gwarf @andrea-manzi

# Internal services
content/en/internal/ @gwarf @paolini78

# Providers
content/en/providers/ @gwarf @paolini78

# Users
content/en/users/ @enolfc @glarocca @andrea-manzi @gwarf @sebastian-luna-valero

# Storage-related services
content/en/users/data/ @andrea-manzi
content/en/providers/datahub/ @andrea-manzi

# dev-env
content/en/users/dev-env/ @enolfc

# FedCloud
content/en/users/compute/ @enolfc
content/en/providers/cloud-compute/ @enolfc

# Notebooks
content/en/users/dev-env/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/providers/notebooks/ @enolfc @andrea-manzi @sebastian-luna-valero
content/en/users/dev-env/binder/ @enolfc @andrea-manzi @sebastian-luna-valero

# Training
content/en/users/training/ @glarocca

# Tutorials
content/en/users/tutorials/ @enolfc @sebastian-luna-valero

# Workload Manager
content/en/users/compute/orchestration/workload-manager/ @enolfc

# Check-in 
content/en/users/aai/ @vardizzo-lab
content/en/providers/check-in/ @vardizzo-lab
