.features {
    justify-content: center;
}

.feature {
    border-radius: .5rem;
    max-width: 250px;
    min-height: 350px;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
    margin: .5rem;
    color: white;
    background-color: #89b1e6;
}

.feature .h1 {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    justify-content: center !important;
}

.feature-higlight .h1 {
    color: #4484d8 !important;
}

.feature-higlight  { 
    box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)
}

.feature .h2 {
    font-size: 1rem;
    font-weight: bolder;
    color: #1d1d1d;
}

.feature p {
    font-size: 12px;
    color: #3d3d3d;
}



.td-navbar {
    min-height: 0px;
}

.td-sidebar-nav {
    max-height: calc(100vh - 5rem);
}

footer {
    min-height: 120px;
}

.list-inline .footer-dev-link,
.list-inline .footer-usr-link {
    vertical-align: top;
}

.list-inline .github  {
    margin-top: 2px;
}
