.tabx-content {
  padding: 0.5rem;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 1rem;
}

.tabx-content .tab-pane {
  display: none;
}

.tabx-content .active {
  display: block;
}
