---
name: Build documentation
# Setup and build files with hugo
# https://github.com/peaceiris/actions-hugo

on: [pull_request]

permissions: read-all

jobs:
  build:
    name: Build with Hugo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          # Fetch the Docsy theme
          submodules: recursive
          # Fetch all history for .GitInfo and .Lastmod
          fetch-depth: 0

      - name: Get Hugo version
        id: hugo_version
        uses: juliangruber/read-file-action@v1
        with:
          path: .github/workflows/hugo_version.txt

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "${{ steps.hugo_version.outputs.content }}"
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm project with a clean slate
        run: npm ci

      - name: Build and minify using Hugo
        run: hugo --minify
