---
name: Deploy to GitHub pages
# Setup and build files with hugo
# https://github.com/peaceiris/actions-hugo
# Deploy to GitHub pages
# https://github.com/peaceiris/actions-gh-pages

on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  deploy:
    name: Build using Hugo and deploy
    # Deploy should not run on forks
    if: ${{ github.repository == 'EGI-Federation/documentation' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          # Fetch the Docsy theme
          submodules: recursive
          # Fetch all history for .GitInfo and .Lastmod
          fetch-depth: 0

      - name: Get Hugo version
        id: hugo_version
        uses: juliangruber/read-file-action@v1
        with:
          path: .github/workflows/hugo_version.txt

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "${{ steps.hugo_version.outputs.content }}"
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm project with a clean slate
        run: npm ci

      - name: Build and minify using Hugo
        run: hugo --minify
        env:
          HUGO_ENV: production

      - name: Generate token for pushing content
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          # Use a personal token configured as a repository-specific secret
          personal_token: ${{ steps.generate-token.outputs.token }}
          external_repository: EGI-Federation/EGI-Federation.github.io
          cname: docs.egi.eu
          publish_branch: main
