---
name: Lint

on: [pull_request]

jobs:
  super-lint:
    name: Lint with Supper-Linter
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # Full git history needed to get proper list of changed files
          fetch-depth: 0

      # Runs the Super-Linter action
      - name: Run Super-Linter on new changes
        uses: docker://ghcr.io/github/super-linter:slim-v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MARKDOWN_CONFIG_FILE: .markdownlint.json
          # Only check new or edited files
          VALIDATE_ALL_CODEBASE: false
          # Fail on errors
          DISABLE_ERRORS: false
          FILTER_REGEX_EXCLUDE: "(.*binaries/.*)|(.*layouts/.*)|(.*/egi.js)"

      # Runs the Super-Linter action
      # Checking all code base but without throwing errors
      # Meant to follow progress of what still needs to be cleaned
      - name: Run Super-Linter on all codebase
        uses: docker://ghcr.io/github/super-linter:slim-v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MARKDOWN_CONFIG_FILE: .markdownlint.json
          # Check all files
          VALIDATE_ALL_CODEBASE: true
          # Ignore errors
          DISABLE_ERRORS: true
          # No need to validate ruby code we are not responsible for
          VALIDATE_RUBY: false
          FILTER_REGEX_EXCLUDE: "(.*binaries/.*)|(.*layouts/.*)|(.*/egi.js)"
